<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-accentidadper-heading">Create or edit a ACCENTIDADPER</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_iDENTIDAD">I DENTIDAD</label>
                    <input type="number" class="form-control" name="iDENTIDAD" id="field_iDENTIDAD"
                           formControlName="iDENTIDAD"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_iDCARGO">I DCARGO</label>
                    <input type="number" class="form-control" name="iDCARGO" id="field_iDCARGO"
                           formControlName="iDCARGO"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nIF">N IF</label>
                    <input type="text" class="form-control" name="nIF" id="field_nIF"
                           formControlName="nIF"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nOMBRE">N OMBRE</label>
                    <input type="text" class="form-control" name="nOMBRE" id="field_nOMBRE"
                           formControlName="nOMBRE"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_aPELLIDO1">A PELLIDO 1</label>
                    <input type="text" class="form-control" name="aPELLIDO1" id="field_aPELLIDO1"
                           formControlName="aPELLIDO1"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_aPELLIDO2">A PELLIDO 2</label>
                    <input type="text" class="form-control" name="aPELLIDO2" id="field_aPELLIDO2"
                           formControlName="aPELLIDO2"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_eMAIL">E MAIL</label>
                    <input type="text" class="form-control" name="eMAIL" id="field_eMAIL"
                           formControlName="eMAIL"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
