<div>
    <h2 id="page-heading">
        <span>ACCENTIDADDVTS</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-accentidaddvt" [routerLink]="['/accentidaddvt/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new ACCENTIDADDVT
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="aCCENTIDADDVTS?.length === 0">
        <span>No aCCENTIDADDVTS found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="aCCENTIDADDVTS?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nUMEROVERSION"><span>N UMEROVERSION</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fECHAVERSION"><span>F ECHAVERSION</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nIF"><span>N IF</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="eJERCICIO"><span>E JERCICIO</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iDTIPO"><span>I DTIPO</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iDTIPOREND"><span>I DTIPOREND</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iDUNIP"><span>I DUNIP</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iDMUNICIPIO"><span>I DMUNICIPIO</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iDPROVINCIA"><span>I DPROVINCIA</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iDISLA"><span>I DISLA</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lOCAL"><span>L OCAL</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iDESTADOACTIVIDAD"><span>I DESTADOACTIVIDAD</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cNAE"><span>C NAE</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cODIGOMAP"><span>C ODIGOMAP</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cODIGOMEH"><span>C ODIGOMEH</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iDENTIDADFK1.iDENTIDAD"><span>I DENTIDADFK 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aCCENTIDADDVT of aCCENTIDADDVTS ;trackBy: trackId">
                    <td><a [routerLink]="['/accentidaddvt', aCCENTIDADDVT.id, 'view']">{{ aCCENTIDADDVT.id }}</a></td>
                    <td>{{ aCCENTIDADDVT.nUMEROVERSION }}</td>
                    <td>{{ aCCENTIDADDVT.fECHAVERSION }}</td>
                    <td>{{ aCCENTIDADDVT.nIF }}</td>
                    <td>{{ aCCENTIDADDVT.eJERCICIO }}</td>
                    <td>{{ aCCENTIDADDVT.iDTIPO }}</td>
                    <td>{{ aCCENTIDADDVT.iDTIPOREND }}</td>
                    <td>{{ aCCENTIDADDVT.iDUNIP }}</td>
                    <td>{{ aCCENTIDADDVT.iDMUNICIPIO }}</td>
                    <td>{{ aCCENTIDADDVT.iDPROVINCIA }}</td>
                    <td>{{ aCCENTIDADDVT.iDISLA }}</td>
                    <td>{{ aCCENTIDADDVT.lOCAL }}</td>
                    <td>{{ aCCENTIDADDVT.iDESTADOACTIVIDAD }}</td>
                    <td>{{ aCCENTIDADDVT.cNAE }}</td>
                    <td>{{ aCCENTIDADDVT.cODIGOMAP }}</td>
                    <td>{{ aCCENTIDADDVT.cODIGOMEH }}</td>
                    <td>
                        <div *ngIf="aCCENTIDADDVT.iDENTIDADFK1">
                            <a [routerLink]="['/accentidaddf', aCCENTIDADDVT.iDENTIDADFK1?.id, 'view']" >{{ aCCENTIDADDVT.iDENTIDADFK1?.iDENTIDAD }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/accentidaddvt', aCCENTIDADDVT.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/accentidaddvt', aCCENTIDADDVT.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(aCCENTIDADDVT)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="aCCENTIDADDVTS?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
