<div>
    <h2 id="page-heading">
        <span>ACCENTIDADDFS</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-accentidaddf" [routerLink]="['/accentidaddf/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new ACCENTIDADDF
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="aCCENTIDADDFS?.length === 0">
        <span>No aCCENTIDADDFS found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="aCCENTIDADDFS?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iDENTIDAD"><span>I DENTIDAD</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nOMBRE"><span>N OMBRE</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fECHACONSTITUCION"><span>F ECHACONSTITUCION</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fECHAEXTINCION"><span>F ECHAEXTINCION</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dOMICILIO"><span>D OMICILIO</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cODIGOPOSTAL"><span>C ODIGOPOSTAL</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tELEFONO"><span>T ELEFONO</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="eMAIL"><span>E MAIL</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dEU"><span>D EU</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fECHAALTAAPP"><span>F ECHAALTAAPP</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fECHABAJAAPP"><span>F ECHABAJAAPP</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fECHAALTACENSO"><span>F ECHAALTACENSO</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fECHABAJACENSO"><span>F ECHABAJACENSO</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nUMEROVERSION"><span>N UMEROVERSION</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fECHAVERSION"><span>F ECHAVERSION</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iDENTIDADFK1.id"><span>I DENTIDADFK 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iDENTIDADFK2.id"><span>I DENTIDADFK 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aCCENTIDADDF of aCCENTIDADDFS ;trackBy: trackId">
                    <td><a [routerLink]="['/accentidaddf', aCCENTIDADDF.id, 'view']">{{ aCCENTIDADDF.id }}</a></td>
                    <td>{{ aCCENTIDADDF.iDENTIDAD }}</td>
                    <td>{{ aCCENTIDADDF.nOMBRE }}</td>
                    <td>{{ aCCENTIDADDF.fECHACONSTITUCION | date:'mediumDate' }}</td>
                    <td>{{ aCCENTIDADDF.fECHAEXTINCION | date:'mediumDate' }}</td>
                    <td>{{ aCCENTIDADDF.dOMICILIO }}</td>
                    <td>{{ aCCENTIDADDF.cODIGOPOSTAL }}</td>
                    <td>{{ aCCENTIDADDF.tELEFONO }}</td>
                    <td>{{ aCCENTIDADDF.eMAIL }}</td>
                    <td>{{ aCCENTIDADDF.dEU }}</td>
                    <td>{{ aCCENTIDADDF.fECHAALTAAPP | date:'mediumDate' }}</td>
                    <td>{{ aCCENTIDADDF.fECHABAJAAPP | date:'mediumDate' }}</td>
                    <td>{{ aCCENTIDADDF.fECHAALTACENSO | date:'mediumDate' }}</td>
                    <td>{{ aCCENTIDADDF.fECHABAJACENSO | date:'mediumDate' }}</td>
                    <td>{{ aCCENTIDADDF.nUMEROVERSION }}</td>
                    <td>{{ aCCENTIDADDF.fECHAVERSION | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="aCCENTIDADDF.iDENTIDADFK1">
                            <a [routerLink]="['/accentidaddvt', aCCENTIDADDF.iDENTIDADFK1?.id, 'view']" >{{ aCCENTIDADDF.iDENTIDADFK1?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="aCCENTIDADDF.iDENTIDADFK2">
                            <a [routerLink]="['/accentidadper', aCCENTIDADDF.iDENTIDADFK2?.id, 'view']" >{{ aCCENTIDADDF.iDENTIDADFK2?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/accentidaddf', aCCENTIDADDF.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/accentidaddf', aCCENTIDADDF.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(aCCENTIDADDF)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="aCCENTIDADDFS?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
